.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.score p span {
  color: #ff5f5f;
}

.score button {
  margin-top: 3em;
  width: 8vw;
  height: 7vh;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
